**/.idea
**/node_modules
**/dist
**/.next
**/test
**/Dockerfile
**/.gitignore
**/test
**/*.env
**/docs
**/tmp-indysdk
**/nodemon.json
**/tests
**/jest.config.js
**/.gitignore
**/*.MD
**/*.md
**/*.sh
**/logs


./docs
./localhost
./start
./ubuntu-libindy
./git
./es
